node_modules
credentials.env
npm-debug.log
vcap-local.json

.cloud/certificate
.cloud/chart/mytodo/local-values.yaml
.cloud/kubernetes/imagePullSecret.json
.cloud/kubernetes/ingress-tls-mydeploy.yaml
