temp

# Node.js
node_modules

# Terraform
.cloud/terraform/provider.tf
.cloud/terraform/.terraform
.cloud/terraform/terraform.tfstate*
.cloud/terraform/ibm-databases/terraform.tfstate
.cloud/terraform/ibm-databases/terraform.tfstate.backup


# Cloud Foundry
vcap-local.json

# Local Values
.cloud/certificate
.cloud/chart/mytodos/local-values.yaml
credentials.env
.cloud/kubernetes/imagePullSecret.json
.cloud/kubernetes/ingress-tls-rewrite.yaml
.cloud/kubernetes/mytodo.yaml
.cloud/kubernetes/mytodo-community.yaml

# Miscellaneous
myreadme.txt
.editorconfig