# Node.js
node_modules

# Terraform
.cloud/terraform/provider.tf
.cloud/terraform/.terraform
.cloud/terraform/terraform.tfstate*

# Cloud Foundry
vcap-local.json

# Local Values
.cloud/certificate
.cloud/chart/mytodos/local-values.yaml
credentials.env
.cloud/kubernetes/ingress-tls-rewrite.yaml
.cloud/kubernetes/ingress-tls-deploy-vpc.yaml

# Miscellaneous
myreadme.txt
.editorconfig